.title{
font-weight: 800;
font-size: 4.2rem;
padding: 100px 0px;
}
.bodyPost{
font-weight: 400;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* vertical-align: center; */
}
section{
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
}
.se1{
    background-image: url("../assets/businessman-watching-through-binoculars_53419-6068.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;  
}
/* .showButton{
    display: block;
}
.hidenButton{
    display: none;
    
} */
.btnJoinHover{
    position: fixed; 
    bottom: 0px;   
    margin: 30px;
    display: none;
    
}